.table-container {
  display: flex;

  max-width: calc(100vw - 120px);

  .data-container {
    padding-bottom: 4rem;
  }
}
.seeds-wrapper {
  .grid-item {
    height: 100%;
  }
}
.data-display-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.data-display {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
  &.offset {
    margin-top: 90px;
  }
  @media screen and (width < 1600px) {
    flex-direction: column;
  }
}
.grid-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  @media screen and (width < 1200px) {
    align-items: center;
  }
  > .type-company {
    margin: 2rem auto 0 auto;
  }
  > .type-row {
    padding: 2rem 0;

    @media screen and (width < 1600px) {
      width: fit-content;
      display: flex;
      margin: 0 auto;
      text-align: center;
    }
  }
  .grid-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust the gap between grid items as needed */
    @media screen and (width < 1600px) {
      width: fit-content;
      justify-content: center;
    }
  }

  .grid-item {
    width: 22rem; /* Adjust the width of each grid item as needed */
    height: 30rem; /* Adjust the height of each grid item as needed */
    background-color: #ffffff; /* Add your desired background color for grid items */
    position: relative;
    .item-image {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    @media screen and (width < 500px) {
      width: 18rem;
      height: 20rem;
    }
    /* Add any additional styling for grid items */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: #e0e0e0; /* Add a different background color on hover */
    }

    .item-name {
      position: relative;
      top: 1rem;
      left: 1rem;
      align-self: flex-start;
      color: #185f65;
      font-weight: 600;
      line-height: 85.023%; /* 17.005px */
      letter-spacing: -0.3px;
    }
    .item-collection {
      margin-left: 1rem;
      align-self: flex-start;
      color: rgba(36, 65, 105, 0.7);
    }
    .item-manufacturer {
      font-size: 14px;
      margin-bottom: 5px;
    }

    .item-substances {
      font-size: 12px;
      margin-bottom: 5px;
    }

    .item-price {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 5px;
    }

    .item-norms {
      font-size: 14px;
      margin-bottom: 5px;
    }

    .item-packaging {
      font-size: 14px;
    }
  }
}
.data {
  display: flex;
  flex-direction: column;
  @media screen and (width < 1600px) {
    margin: 0 auto;
  }
  @media screen and (width > 200px) {
    width: 100vw;
  }
  @media screen and (width > 1000px) {
    width: calc(100vw - 120px);
    margin: 0 auto;
  }
  .data-tags-wrapper {
    display: flex;
    align-items: center;
    width: fit-content;
    margin: 2rem 0 2rem 0;

    .data-tags {
      width: 100%;
      margin-left: 40px;
      .data-tag {
        margin-right: 1rem;
        p {
          padding: 14px 30px;
          border: 1px solid rgba(36, 65, 105, 0.15);
          color: #185f65;
          font-size: 1rem;
          font-style: normal;
          font-weight: 400;
          letter-spacing: -0.6px;
        }
      }
    }
    .grid-selector {
      display: flex;

      .grid-selector-button {
        padding: 14px 0;
        width: 121px;
        text-align: center;
        transition: 0.2s;
        &:nth-child(1) {
          margin-right: 18px;
        }
        &.active {
          background: white;
          border: 1px solid white;
          svg {
            rect {
              fill: #185f65;
            }
            line {
              stroke: #185f65;
            }
          }
        }
        &.inactive {
          border: 1px solid rgba(36, 65, 105, 0.15);
          rect {
            fill: #c2ccda;
          }
          line {
            stroke: #c2ccda;
          }
        }
      }
    }
    .data-tags {
      display: flex;
    }
  }
  .data-tags-wrapper_mobile {
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: row;
    @media screen and (width > 1000px) {
      left: -60px;
    }
    &.sticky {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1000;
      background: white;
      /* Additional styles for the sticky element */
    }
    .selector {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 90px;
      border: 1px solid rgba(36, 65, 105, 0.15);

      &.filter {
      }
      &.tags {
        border-left: none;
      }
    }
  }
}
.type-company {
  border: none;
  img {
    max-height: 4rem;
  }
}
.type-row {
  padding: 4rem 0;
  .type-name {
    color: #185f65;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%; /* 24px */
    letter-spacing: -1.08px;
  }
}
.tag-menu {
  display: flex;
  margin-right: 40px;
  flex-direction: column;
  flex: 0 0 auto;
  width: fit-content;
  &.tag-menu_mobile {
    min-height: 100vh;
    padding-bottom: 2rem;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background: #f8f9fa;
    position: fixed;
    top: 0;

    z-index: 9999;
    .menu-content {
      max-height: calc(100vh - 2rem); /* Adjust the value as needed */
      overflow-y: auto; /* Enable vertical scrolling within the menu */
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .dropdown {
      width: 200px;
      font-size: 1.15rem;
      .tag-buttons {
        label {
          font-size: 1.1rem;
        }
      }
    }
    .head {
      display: flex;
      align-items: baseline;
      margin-bottom: 2rem;
      width: 260px;
      margin-top: 5rem;
      p {
        font-size: 2.8rem;
        font-weight: 700;
        line-height: 85.023%; /* 34.009px */
        letter-spacing: -2.2px;
        color: #185f65;
        margin-left: 20px;
        margin-right: 50px;
      }
      svg:last-child {
        align-self: flex-end;
      }
    }
  }
  @media screen and (width < 1600px) {
    flex-direction: row;

    margin-bottom: 1.5rem;
    .dropdown {
      margin-right: 10px;
      &.closed {
        max-height: 73px;
      }
    }
  }
  /* Dropdown Styles */
  .dropdown {
    position: relative;
    margin-bottom: 5px;
    background: white;
    width: 260px;
    color: #185f65;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 85.023%;
    letter-spacing: -0.56px;
    .dropdown-head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      svg {
        margin-right: 2rem;
      }
    }
    .tag-buttons {
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease;
      padding-left: 2rem;
    }
    h3 {
      padding: 2rem 0 2rem 2rem;
    }
  }

  .dropdown.open .tag-buttons {
    max-height: 1000px; /* Adjust the maximum height as needed */

    transition: max-height 0.3s ease;
  }

  /* Animation Classes */
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fade-out {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(-10px);
    }
  }

  .fade-enter {
    opacity: 0;
    transform: translateY(-10px);
  }

  .fade-enter-active {
    animation: fade-in 0.3s forwards;
  }

  .fade-exit {
    opacity: 1;
    transform: translateY(0);
  }

  .fade-exit-active {
    animation: fade-out 0.3s forwards;
  }

  /* Tags Columns */
  .property {
    .tags {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      gap: 10px;
      span {
        display: inline-block;
        padding: 4px 8px;
        background-color: #e5e5e5;
        border-radius: 4px;
      }
    }
  }

  .tag {
    display: flex;
    flex-direction: row;
    max-width: 200px;
    font-size: 15px;
    font-style: normal;
    line-height: 120.5%; /* 18.075px */
    letter-spacing: -0.6px;
    margin-bottom: 17px;
    align-items: center;
    color: #185f65;
    &.active {
      font-weight: 500;
      transition: font-weight 0.3s ease;
    }

    input[type="checkbox"] {
      display: none; // Hide the default checkbox

      + .checkbox-custom {
        min-width: 20px; /* Adjust this value to change the width of the checkbox */
        min-height: 20px; /* Adjust this value to change the height of the checkbox */
        margin-right: 15px;
        border: 2px solid #ccc; /* Border color for the checkbox */
        background-color: #fff; /* Background color for the checkbox */
        border-radius: 5px; /* Rounded border to simulate checkbox shape */
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.06s ease-in;
        &:after {
          // Use the provided SVG path data as the checkmark
          content: "";
          display: block;
          width: 12px; /* Width of the SVG checkmark */
          height: 12px; /* Height of the SVG checkmark */
          background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 6" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M7.28039 0.21834C7.35008 0.28799 7.40537 0.370691 7.44309 0.461717C7.48081 0.552742 7.50023 0.650308 7.50023 0.74884C7.50023 0.847372 7.48081 0.944938 7.44309 1.03596C7.40537 1.12699 7.35008 1.20969 7.28039 1.27934L3.28039 5.27934C3.14164 5.41824 2.95395 5.49719 2.75763 5.49925C2.56132 5.50131 2.37202 5.4263 2.23039 5.29034L0.230387 3.37034C0.0869049 3.23243 0.00408539 3.04317 0.000147122 2.84419C-0.00379114 2.64521 0.0714745 2.45282 0.209387 2.30934C0.3473 2.16586 0.536562 2.08304 0.735538 2.0791C0.934514 2.07516 1.1269 2.15043 1.27039 2.28834L2.74039 3.69934L6.22039 0.21934C6.36101 0.0788899 6.55164 0 6.75039 0C6.94914 0 7.13976 0.0788899 7.28039 0.21934V0.21834Z" fill="white"%3E%3C/path%3E%3C/svg%3E');
          background-repeat: no-repeat;
          background-position: center;
        }
      }

      &:checked + .checkbox-custom {
        background-color: #d4a95a; /* Change the background color for the checked state */
        border-color: #d4a95a; /* Change the border color for the checked state */
      }
    }
  }
}
.table-wrapper {
  width: 100%;
  background: white;
}
.table {
  margin: 0 2rem;
  * {
    border-collapse: collapse;
  }
  .row {
    display: flex;
    align-items: center;

    border-bottom: 1px solid #edf4fb;
    height: 4rem;
    &.type-row {
      .type-name {
        margin-left: 1rem;
      }
    }
    &.type-company {
      padding: 3rem 0 3rem 1rem;
    }
    .price,
    .characteristics,
    .processing,
    .group,
    .fao,
    .type,
    .index {
      display: flex;
      justify-content: center;
      line-height: 110%;
      letter-spacing: -0.28px;
    }
    .index {
      max-width: 60px;
    }
    .name {
      padding-left: 2rem;
    }
    .characteristics {
      color: #185f65;
      text-align: center;
    }

    .price {
      color: #185f65;
      font-size: 1rem;
      font-style: normal;
      font-weight: 700;
    }
    .name {
      padding: 0 5rem;
    }
    &.items {
      .group,
      .processing,
      .fao,
      .type,
      .index {
        color: rgba(36, 65, 105, 0.7);

        font-style: normal;
        font-weight: 400;
      }
      .price,
      .characteristics,
      .processing,
      .group,
      .fao,
      .type {
        font-size: 1rem;
      }
      .property {
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid #edf4fb;
        height: 100%;
        &.processing {
          display: flex;
          flex-direction: column;
          .processing-item {
            width: 100%;
            border-right: 0;
            justify-content: center;

            &:nth-child(1) {
              border-bottom: 1px solid #edf4fb;
            }
          }
        }
        &.price {
          display: flex;
          flex-direction: column;
          border: none;
          .price-item {
            width: 100%;
            justify-content: center;
            &:nth-child(1) {
              border-bottom: 1px solid #edf4fb;
            }
          }
        }
      }
      .name {
        color: #185f65;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: 110%; /* 15.4px */
        letter-spacing: -0.28px;
        text-transform: uppercase;

        a {
          display: flex;
          align-items: center;
          margin-right: auto;
          .sunflower-svg {
            margin-right: 0.5rem;
          }
          .icon {
            max-height: 25px;
            max-width: 25px;
            margin-right: 2rem;
          }
        }
      }
      .manufacturer,
      .substances,
      .norms,
      .packaging {
        color: #667a96;
      }
      .manufacturer,
      .price,
      .norms {
      }
      .price {
        color: #185f65;
        font-weight: 700;
        line-height: 110%;
        letter-spacing: -0.28px;
      }
      .price:nth-child(5) {
        border: none;
      }
      &:nth-child(2n + 1) {
        background: #185f6503;
      }
      &:last-child {
        border-bottom: none;
      }
    }
    &.head {
      border-bottom: 2px solid #185f65;
      color: #185f65;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: 110%; /* 16.5px */
      letter-spacing: -0.3px;
    }

    .property {
      flex: 1;
    }
  }
}
